name: full
description: A new Flutter project.

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.5
  meta: ^1.8.0
  json_annotation: ^4.8.0
  freezed_annotation: ^2.2.0
  cached_query_flutter: ^1.0.0-dev.1
  cached_storage: ^1.0.0-dev.2
dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.3.3
  freezed: ^2.3.2
  json_serializable: ^6.6.0
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  assets:
    # Add assets from the images directory to the application.
    - assets/images/
